.landing-container-background {
  background: url("images/landing-container-background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.white-gray-border {
  border-color: white;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
}

.circular-image {
  width: 100px;
  border-radius: 50%;
}

.bigger-font {
  font-size: large;
  font-family: monospace;
}

.slightly-smaller-font {
  color: black;
  font-size: small;
  font-family: monospace;
}
